/* Common styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
}

/* Nav realted styles */
header {
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nav-container {
  max-width: 500px;
  text-align: end;
}
nav {
  display: flex;
  justify-content: end;
  padding: 166px 230px;
}
.nav-title {
  color: #151414;
  text-align: right;
  font-family: Work Sans;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
.nav-description {
  color: #444343;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 0;
}
.btn-contact {
  margin-top: 50px;
  padding: 20px 26px;
  border-radius: 5px;
  background: #f15b22;
  border: none;
}
.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 87px;
}
.banner-details,
.banner-photo {
  max-width: 430px;
}
